.ttl {
  font-family: $font-title;
}

section {
  min-height: 100vh;
  padding: 20px 0;
  padding: rem(20px) 0;
  max-width: 1280px;
  margin: 0 auto;

  h2 {
    font-size: 48px;
    margin-top: 0;
  }

  h4 {
    border-bottom: 2px solid $c-main;
    padding: rem(5px) 0;
    margin: rem(30px) 0 rem(20px);
  }
}

.site__main {
  padding: $spacer-standard $spacer-standard $spacer-standard $w-sidebar + $spacer-standard;
  transition: all 0.3s ease;
  @include bgCrossDot(109px, $c-grey-light, $c-grey-light);

  article {
    background-color: $c-white;
    padding: $spacer-standard;
    @include box-shadow(0, 0, 3px, 0, rgba($c-black, 0.5));
    margin: 20px 0;
    margin: rem(20px) 0;
    @include box-shadow(0, 0, 5px, 0, rgba($c-black, 0.3));
  }

  pre {
    background-color: $c-grey-light;
    padding: 10px;
    overflow: auto;
    max-height: 500px;
  }
}

.path:nth-child(10) {
  animation-delay: -2s;
}
.path:nth-child(9) {
  animation-delay: -1.75s;
}
.path:nth-child(8) {
  animation-delay: -1.5s;
}
.path:nth-child(7) {
  animation-delay: -1.5s;
}
.path:nth-child(6) {
  animation-delay: -1.25s;
}
.path:nth-child(5) {
  animation-delay: -1s;
}
.path:nth-child(4) {
  animation-delay: -0.75s;
}
.path:nth-child(3) {
  animation-delay: -0.5s;
}
.path:nth-child(2) {
  animation-delay: -0.25s;
}

@for $i from 1 through 10 {
  .path:nth-child(n + #{$i}) {
    animation-delay: -($i * 5%)s;
  }
}

@keyframes dash {
  0%,
  50% {
    stroke-dashoffset: 100%;
  }
  to {
    stroke-dashoffset: 0;
  }
}