.site__sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  width: $w-sidebar;
  background-color: $bg-sidebar;
  padding: $spacer-standard;

  ul {
    li {
      list-style-type: none;
    }
  }
}

.menu {
  padding: 0;
  li {
    padding: 5px 0;
    img {
      max-width: 20px;
      margin-right: 10px;
    }
  }

  &__sub {
    padding: 0 0 0 40px;
  }
}